<p></p>

  <h3 align="center">Orders</h3>
  <div class="panel panel-primary spacer-other">
    <div class="panel-body">

      <table class="table table-striped">

        <tr>
          <th>Order Number</th>
          <th>Goods</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Delivered</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor = "let o of pageOrders" id={{o.number}}>
          <td>{{o.number}}</td>
          <td>{{o.goods}}</td>
          <td>{{o.quantity}}</td>
          <td>{{o.price}}</td>
          <td>{{o.delivered}}</td>
          <td><button class="btn btn-outline-info" [routerLink]="['/viewOrder', o.number]">View Order</button></td>
          <td><button class="btn btn-outline-info" [routerLink]="['/viewInvoice', o.number]" *ngIf="o.invoiceNumber!=0">View Invoice</button></td>
          <td><button class="btn btn-" [routerLink]="['/ConfirmDeliveration', o.number]" *ngIf="o.deliveryDate!=0 && o.delivered == false">Confirm Deliveration</button></td>
        </tr>

      </table>

    </div>

  </div>
